.body {
  background-color: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  width: auto;
}

#container {
  background-color: white;
  width: 100%;
  height: 100%;
}
.container{
  min-width:1200px;
  
}
#header {
  background-color: #262626;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#content-header {
  text-align-last: center;
}

#main {
  overflow: auto;
  padding-bottom: 400px;
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 100px;
  align-content: center;
}

#content {
  align-content: space-around;
  text-align: justify;
  width: 100%;
}

footer {
  display: inline;
  background-color: #262626;
  color: white;
  padding-top: 110px;
  padding-bottom: 120px;
  padding-left: 190px;
}

.social {
  background-color: gray;
  padding-bottom: 20px;
}

.input-group {
  width: 60%;
}
.fa {
  width: 40px;
  color: white;
  font-size: 20px !important;
  padding-top: 15px;
}
.fa:hover {
  opacity: 0.9;
  color: #ff6600;
}

.row {
  color: white;
}

.background-footer {
  background: black;
}
